@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
header{
  width: 100%;
	height: 150px;
  background-color: #0095DA;
  height: 188px;
}
header .bg_radio{
  background-color: #006EA0;
  position: relative;
	top: 19px;
  width: 90%;
  height: 152px;
  box-shadow: 5px 5px 5px;
	margin-bottom: 36px;
}
.logo{
	position: absolute;;
  z-index: 5;
	height: 188px;
	/*height: 108px;*/
  top: -18px;
  margin-left: -20px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222);
}
/*Tamanho de pc*/
@media only screen and (min-width: 1025px) {

}
@media only screen and (max-width: 1024px) and (min-width: 769px) {

}
/*Tamanho para tablet*/
@media only screen and (max-width: 768px) and (min-width: 481px){

}
/*Tamanho até smartphones grande*/
@media only screen and (max-width: 480px) and (min-width: 376px) {
  .showMusica{
    display: none !important;
  }
	#btn-play-pause {
	    margin-right: -48px;
	}
}
/*Tamanho até smartphones médios: ;*/
@media only screen and (max-width: 375px) and (min-width: 321px){
	#btn-play-pause {
	    margin-right: -48px;
	}
  .showMusica{
    display: none !important;
  }
}

/*Tamanho até smartphones pequenos: ;*/
@media only screen and (max-width: 320px) and (min-width: 20px){
	.showMusica{
    display: none !important;
  }
	#btn-play-pause {
	    margin-right: -48px;
	}
}
.radio{
  top: 5px;
  font-family: 'OpenSans';
}
/*    ********** Navbar do Menu da Rádio************* */
.navbar-default {
    background-color: #006EA0;
    border-color: #006EA0;
    font-family: 'OpenSans';
}
@media (max-width: 1023px) { /* determina quando virar miniMenu*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
		.dropdown-menu>li>a {
				color: #fff !important;
		}
}
.navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:#016594;
}
.navbar-default .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none; background-color: #0095DA;
}
.navbar-default .navbar-brand{
	color: #fff;
	background-color:#0C5576;
}
.navbar-default .navbar-nav > li > a {
		color:#fff;
}
.navbar-nav>li>.dropdown-menu {
background-color:#006EA0;
}
.dropdown-menu>li>a {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #fff; /* Changes toggle color on hover */
}
.mostraMenuRadio{
	position: fixed;
	position: relative;
	/*margin-left:-90px;*/
	z-index:1001;
	/*width: 62%;*/
}
.maskFundoMenu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
}
/* *********** Fim do Menu da Rádio ************ */

.showMusica{
  position: absolute;
  /*display: inline-flex;*/
  top: 40px;
  margin-left: 0px;
	text-align: right;
  width: 95%;
  height: 23px;
  background-color: #0A4F6F;
}
.showMusica span {
  color: #fff;
  margin-bottom: 0px;
  font-family: 'OpenSans';
  /*display: inline-block!important;*/
}
.showMusica div{
	display: inline-flex;
}
.showMusica #nome_musica {
  margin-left: 25px;
}
.controleRadio{
	/*position: absolute;*/
  /*top: 49px;*/
  width: 100%;
  font-family: 'OpenSans';
  text-align: right;
  align-items: center;
  margin: 0 0 0 20px;
}

.controles{
  background-color: transparent;
  border: 0;
  color:#fff;
  font-size: 52px;
  font-family: 'OpenSans';
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:         drop-shadow(5px 5px 5px #222);
}
input[type="range"] {
    color:#fff;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    background-color: transparent;
}
#btn-play-pause{
	position: relative;
  top: 4px;
	color:#fff;
}
#btn-voltar, #btnVolume, #btn-avancar{
	color:#fff;
}
#volume{
	padding: 30px 0;
}
.menuPrincipal{
  background-color: #F4CB0E;
  position: relative;
    /*top: 36px;*/
    width: 100%;
    height: 54px;
}
/******* navbar Menu principal *******/
.navbarMenuPrincipal {
    font-family: 'OpenSans';
    height: 54px;
    width: 100%;
}
.navbarMenuPrincipal .navbar-brand{
	color: #000;
}
.navbarMenuPrincipal .navbar-nav > li > a{
  color: #000;
}
.navbarMenuPrincipal .navbar-toggle {
    border-color: #000;
}
.navbarMenuPrincipal .collapse.in {
    background-color: #F4CB0E;
}
.navbarMenuPrincipal .navbar-toggle .icon-bar {
  background-color: #000; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #F47920; /* Changes toggle color on hover */
}
/***** fim navbarMenuPrincipal *******/
#btnPesquisar {
  position: relative;
	float: right;
	left: -35px;
  background-color: transparent;
  border-color: transparent;
}
/* ************ FINAL TOPO ******** */
